<html>
<body >
  <ul class="nav navbar-nav navbar-right ">
      <li><a routerLink="admin-home"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
      <li><a routerLink=""><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  <blockquote class="admin-home-blockquote">
  Welcome to Capability Maturity Assessment, Admin
  </blockquote>    
  
    <div class="figure-class">
    <a routerLink="admin">
    <img src="assets/assessment-image.png" class="assessments-image">
     <figcaption>View Assessments</figcaption>
  </a>
    </div>

  </body>
</html>